* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(0, 0, 0, 0.5);
}

.container {
    width: 950px;
    text-align: center;
    margin: 0 auto;
    background: white;
    position: relative;
    padding: 15px 0;
    top: 125px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
#table tr {
    text-align: left;
}
#table tr td {
    padding:0 10px 15px 35px;
}
#table tr td .download{
    margin-top:6px;
    display: block;
}
#filArianeContainer{
    background-color:#D18B33;
    width:auto;
    padding:6px 10px;
    margin-top:15px;
    text-align: left;
    display:none;
}
#filAriane{
    float: left;
}
.download{

    color:white;
    text-align: center;
    padding:4px 6px;
    width:100px;
    background:skyblue;
}
#backToRacine{

    float: right;
}
#err {
    background: tomato;
    color: white;
    margin: 0 auto;
}

/*.container>#deconnexion {
    text-decoration: none;
    margin-right: 5px;
    padding: 7px 15px;
    opacity: 0.7;
    background: orange;
    color: white;
    width:100px;
    float: right;
    display: block;
    transition:all ease-in 0.3s; 
}



.container>#upload{
      text-decoration: none;
    margin-right: 5px;
    padding: 7px 15px;
    opacity: 0.7;
    background: orange;
    color: white;
    width:100px;
    float: right;
    display: block;
    transition:all ease-in 0.3s; 
}*/
.container >#menu{
    float: right;
}
#menu li{
    list-style: none;
    display: inline-block;
}

#menu li a {
 text-decoration: none;
    margin-right: 5px;
    margin-top:10px;
    padding: 7px 15px;
    opacity: 0.7;
    background: orange;
    color: white;
    width:100px;
    float: right;
    display: block;
    transition:all ease-in 0.3s;
}

.clearfix{
    clear:both;
    display: block;
}
#DropZone{
    width:450px;
}
#form{
    position:absolute;
    z-index:6;
    background-color:white;
    width:650px;
    right:0;
    left:0;
    margin:0 auto;
    opacity: 0;
    transition: all ease-in 0.5s;
    display:none;
    box-shadow: 0 3px 0 1px rgba(0,0,0,0.2);
}
#closePopUp{
    position:absolute;
    right:-15px;
    top:-27px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background:tomato;
    border-radius: 50%;
    padding:6px 10px;
    cursor:pointer;
    border:3px solid tomato;
}

.formIsOn{
    display:block!important;
}
.formIsMove{
    transform:translateY(125px);
    opacity: 1!important;
    height: 250px;
}
#mask{
    height: 100%!important;
    left:0!important;
    right:0!important;
    top:0!important;
    bottom:0!important;
    position: fixed!important;
    background: rgba(0,0,0,0.5)!important;
    z-index: 5!important;
    display:none;
}

.maskIsOn{
    display: block!important;
}

.previous{

    text-decoration: none;
    color:white;
    cursor: pointer;
    padding:6px 10px;
    background:rgba(195,10,16,0.7);
    border-left:1px solid rgba(0,0,0,0.3);
}

#currentFolder{

    background-color: rgba(234,227,221,0.8);
    padding:6px 10px;
    border-left:1px solid rgba(0,0,0,0.3);
    color:rgba(209,139,51,1);
}

.previous:hover{

     background:rgba(195,10,16,1);
}

.container > #menu li a:hover{

    opacity: 1;
}
.date{
    color:#ccc;
    font-family:Helvetica,Arial sans-serif;
}